.footer {
    background: #003669;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    height: 40px;
    padding: 10px;

    .first{
        float: left;
    }
    .second{
        float: right;
        
        img{
            height: 20px;
            position: relative;
            top: 5px;
        }
    }
}

@media screen and (max-width: 568px){
    .footer {
        font-size: 11px;
        line-height: 18px;
        height: inherit;
        padding: 10px;
        text-align: center;

        .first{
            float: none;
        }
        .second{
            float: none;
            padding-top: 15px;
            
            img{
                height: 20px;
            }
        }
    }
}