.TimeLine{
	padding: 50px 15px;
	background-color: #f2f2f2;

	.container{
		display: table;
		width: 100%;
		margin: 0px auto;

		.step{
			width: 20%;
			display: table-cell;
			position: relative;
			padding-top: 24px;
			vertical-align: top;

			&:nth-child(2n){
				padding-top: 95px;

				.text{
					vertical-align: top;
				}
			}

			.dot{
				width: 32px;
				height: 32px;
				margin: 30px auto;
				background-color: black;
				border-radius: 50%;
				text-align: center;
				padding: 1px;
				font-size: 16px;
				color: rgb(255, 255, 255);
				display: block;
				border-width: 0px;
				line-height: 36px;
			}

			.text{
				margin-top: 8px;
				font-size: 16px;
				font-weight: 300;
				text-align: center;
				display: table-cell;
				color: rgb(0, 0, 0);
				min-height: 70px;
				height: 70px;
				vertical-align: bottom;
			}

			.bar{
				position: absolute;
				height: 1px;
				border-top: 1px solid gray;
				top: 141px;

				&.left{
					left: 0px;
					right: 50%;
					margin-right: 20px;
				}

				&.right{
					right: 0px;
					left: 50%;
					margin-left: 20px;
				}
			}

			.pointer{
				position: absolute;
				width: 1px;
				height: 24px;
				border-left: 1px solid gray;
				padding: 0px;
				left: 50%;
				/*transform: rotateZ(90deg);*/

				&.top{
					top: 38%;
				}

				&.bottom{
					bottom: 28%;
				}
			}
		}
	}
}

@media screen and (max-width: 768px){
	.TimeLine{
		.container{

			.step{
				width: 100%;
				display: table;
				position: relative;
				padding-top: 0px;
				text-align: center;

				&:nth-child(2n){
					padding-top: 0px;
					.text{
						transform: translate(-130%, -50%);
						text-align: right;
					}
				}

				.dot{
					margin: 50px auto;
					display: inline-block;
				}

				.text{
					position: absolute;
					width: 150px;
					left: 50%;
					top: 50%;
					transform: translate(31%, -50%);
					text-align: left;
				}

				.bar{
					position: absolute;
					width: 1px;
					height: 48px;
					border-left: 1px solid gray;
					border-top: medium none;
					top: 141px;

					&.left{/*top*/
						left: 50%;
						right: 0px;
						margin-right: 0px;
						top: 0px;
					}

					&.right{/*bottom*/
						right: 0px;
						left: 50%;
						margin-left: 0px;
						top: 85px;
					}
				}

				.pointer{
					position: absolute;
					height: 1px;
					width: 24px;
					border-top: 1px solid gray;
					border-left: medium none;
					padding: 0px;
					left: 50%;

					&.top{
						bottom: 50%;
						top: unset;
						transform: translate(77%,0%);
					}

					&.bottom{
						bottom: 50%;
						top: unset;
						transform: translate(-176%,0%);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 568px){
	.TimeLine{
		.container{
			.step{
				&:nth-child(2n){
					.text{
						transform: translate(-145%, -50%);
					}
				}

				.text{
					width: 100px;
					transform: translate(48%, -50%);
				}
			}
		}
	}
}
