.reviews {
	padding: 30px;
	background-color: #f2f2f2;

	.Carousel{
		display: block;
		touch-action: pan-y;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		position: relative;

		.slides-container{
			overflow: hidden;
			position: relative;

			.slides-control{
				position: relative;

				.slide{
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					z-index: 0;
					backface-visibility: hidden;
					display: none;
					font-size: 18px;
					line-height: 24px;
					font-style: italic;
					text-align: center;
					padding: 30px;

					br {
						display: block;
						margin: 10px 0;
						line-height:22px;
						content: " ";
					}
				}
			}
		}

		.pagination{
			text-align: center;
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;

			position: absolute;
			bottom: -10px;
			z-index: 100;

			.item{
				position: relative;
				display: inline-block;
				margin: 0 5px;
				padding: 0;

				.atag{
					background: #d3d3d3;
					text-indent: -9999px;
					display: block;
					width: 12px;
					height: 12px;
					margin: 0 5px;
					outline: 0;
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
					border: 3px solid #f2f2f2;

					&.active {
						background: #333;
					}
				}
			}
		}
	}
}
