.Header{
	text-align: center;
	margin-bottom: 20px;
	
	.text{
		margin: 0 auto;
		border-bottom: 3px solid #9d9d9d;
		padding: 10px 20px;
		font-size: 28px;
		font-weight: 600;
		display: inline-block;
	}
}