.CircularStatus{
	padding: 50px 15px;
	.cell{
		float: left;
		width: 33%;
		text-align: center;
		padding: 0px 20px;

		.progressbar{
			height: 140px;
		}
	}
}

@media screen and (max-width: 768px){
	.CircularStatus{
		.cell{
			float: none;
			width: 100%;
			text-align: center;
			padding: 20px;
		}
	}
}