.header {
    background: #003669;
    width: 100%;
    height: 60px;
    display: block;
    padding: 15px;

    .heading-font {
        float: left;
        margin: 0px;
        margin-left: 15px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 29px;
        color: #fff;
        width: 80%;
    }

     img{
        float: left;
    }
}

@media screen and (max-width: 568px){
    .header {

        .heading-font {
            margin-left: 15px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 18px;
            color: #fff;
        }

         img{
            float: left;
        }
    }
}