.FeedBackContainer {
	padding: 50px 15px;
	.cell{
		float: left;
		width: 50%;
		height: 140px;
		margin-top: 55px;
		text-align: center;
	}

	.percentage {
		color: #6aaf00;
		font-size: 24px;
	}
	.FeedBackContainerLeft {
		
	}

	.RatingLabel {
		text-align: center;
	}

	.star{
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 40px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&:before {
			content: "\f005";
		}

		&.empty:before {
			content: "\f006";
		}

		&.half_empty:before{
			content: "\f123";
		}
	}
}

@media screen and (max-width: 768px){
	.FeedBackContainer{
		.cell{
			float: none;
			width: 100%;
			text-align: center;
			padding: 20px;
		}
	}
}
