.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}
.CircularProgressDiv {
  width: 33%;
  float: left;
}
.HeaderClass {

  margin-bottom: 0px;
  margin-top: 0px;
  margin-left:auto;
  margin-right: auto;
  height: 122px;
}
.SecondComponentDiv {
  width: 70%;
  margin-top: 40px;
  margin-left: auto;
  margin-right:  auto;
  margin-bottom: 40px;
  height: 200px;
}
.UnderLine {
  width: 200px;
  height: 2px;
  background: gray;
  margin: 0 auto;
}
.GrayHeader {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left:auto;
  margin-right: auto;
  height: 122px;
  background: lightgray;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: central;
  text-anchor: middle;
}
.Review {
  background: gray;
  height: 500px;
  margin-top: 40px;
}
.CarouselClass {

  height: 200px;
  width: 50%;
  background: red;
}
.TimeLine {
  height: 300px;
  background: lightgray;
  margin-top: 100px;
  padding-bottom: 100px;
}
.CompleteTimeLineDiv {

  height: 622px;
  background: lightgray;
}
.FeedBackContainer {
  width: 80%;
  height: 410px;
  margin: 0 auto;
}
.FeedBackContainerLeft {
  float: left;
  width: 40%;
  height: 140px;
  margin-top: 55px;

}

.FeedBackContainerRight {
  float: right;
  width: 40%;
  height: 140px;
  margin-top: 55px;
}

h1 {
  padding-top: 70px;
  margin-bottom: 0px;
  text-align: center;
}

.App-header {

  height: 500px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
