
* {
	outline: none;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	font-family: 'Futura LT', 'Trebuchet MS', sans-serif;
	color: #353535;
	margin: 0px;
	padding: 0px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: #FFF !important;
	background-image: none;
	color: #353535 !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

a:-webkit-any-link{
	text-decoration:none !important;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
	color: #343434;
	text-decoration: none;
	cursor: pointer;
}

section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:global .cf{
	&:before, &:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

:global .form-title{
	text-transform: uppercase;
	color: #F5A05E;
	font-size: 26px;
	text-align: center;
	display: block;
	font-weight: 700;
	margin: 30px 0;
	letter-spacing: 1px;
}

:global .form-button{
	font-size : 16px;
	font-family: 'Robot', sans-serif;
	padding: 10px 20px;
	display: inline-block;
	color: gray;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: #FFF;
	letter-spacing: 1px;
}
