.Progressbar {
	width: 100%;

	.path {
		stroke: #352073;
		stroke-linecap: round;
		transition: stroke-dashoffset 0.5s ease 0s;
	}

	.trail {
		stroke: #e8999a;
	}

	.text {
		fill: #000;
		font-weight: 600;
		font-size: 20px;
		dominant-baseline: middle;
		text-anchor: middle;
	}

}